.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
}
